# EmailJS Configuration
# Refer to EmailJsSetup.md for steps to obtain these variables.
VITE_EMAILJS_SERVICE=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
